/*========================================================================================================*

  +-----+-----+-----+-----+-----+-----+-----+
  | █▀▀ | ▄▀█ | █▀▀ | █▀▀ | ▄▀█ | █▀▄ | █▀▀ |
  | █▄▄ | █▀█ | ▄▄█ | █▄▄ | █▀█ | █▄▀ | ██▄ |
  +-----+-----+-----+-----+-----+-----+-----+ Mouse Edition.

    Description:    Cascade, Mouse Edition, is a Firefox Style based on the Cascade theme by Andreas Grafen
                    What you get is a really simple one-line layout using the new Proton UI.

                    The original Cascade Theme by Andreas Grafen was based on SimpleFox :
                    > SimpleFox: https://github.com/migueravila/SimpleFox

    Authors:        Andreas Grafen (original cascade theme)
                    (https://andreas.grafen.info)

                    Clément Rambaud (minor tweaks on the original file)

                    dsys1100 (modification of waterfall - cascade fork)

    Repository:     https://github.com/andreasgrafen/cascade
                    https://github.com/crambaud/waterfall
                    https://github.com/dsys1100/waterfall_mod

*========================================================================================================*/

/* by dsys1100, from old project */
#alltabs-button { display: none !important; } /* Hide "All Tabs" button */

/*---+---+---+---+---+---+---+
 | V | I | S | U | A | L | S |
 +---+---+---+---+---+---+---*/

:root {
--uc-urlbar-width: clamp(250px, 50vw, 600px); /* dynamic url bar width settings */
--show-tab-close-button: none; /* if active always shows the tab close button */
--show-tab-close-button-hover: -moz-inline-box; /* if active only shows the tab close button on hover*/
--container-tabs-indicator-margin: 0px; } /* adds left and right margin to the container-tabs indicator */

/*---+---+---+---+---+---+---+
 | B | U | T | T | O | N | S |
 +---+---+---+---+---+---+---*/

#back-button[disabled="true"] { display: none !important } /* hiding buttons if noactive */
#forward-button[disabled="true"] { display: none !important }
#star-button{ display: none !important; } /* bookmark icon */
#urlbar-zoom-button { display: none !important; } /* zoom indicator */
#PanelUI-button { display: -moz-inline-box !important;} /* Show Hamburger Menu */
#reader-mode-button{ display: none !important; }
#tracking-protection-icon-container { display: none !important; } /* tracking protection shield icon */
#identity-permission-box { display: none !important; } /* hides permission items */
#pageActionButton { display: none !important; }
#page-action-buttons { display: none !important; }

/*=============================================================================================*/

/*---+---+---+---+---+---+
 | L | A | Y | O | U | T |
 +---+---+---+---+---+---*/

:root { --tab-block-margin: 2px !important; }
window,
#main-window,
#toolbar-menubar,
#TabsToolbar,
#PersonalToolbar,
#navigator-toolbox,
#sidebar-box,
#urlbar * { box-shadow: none !important; } /* remove shadow on urlbar */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) /* remove gap after pinned tabs */
    > #tabbrowser-arrowscrollbox
    > .tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
    margin-inline-start: 1px !important; }
#nav-bar { /* color fix for navbar */
    border:     none !important;
    box-shadow: none !important;
    background: transparent !important; }
.titlebar-buttonbox-container { display: -moz-inline-box !important; } /* Show Window Control Button */
.titlebar-spacer { display: none !important; } /* remove "padding" left and right from tabs */
.tabbrowser-tab:not([pinned]) .tab-close-button { display: var(--show-tab-close-button) !important; } /* tab close button options */
.tabbrowser-tab:not([pinned]):hover .tab-close-button { display: var(--show-tab-close-button-hover) !important }
.tabbrowser-tab[usercontextid] /* bigger container tabs indicator */
    >.tab-stack
    >.tab-background
    >.tab-context-line {
        margin: -1px var(--container-tabs-indicator-margin) 0 var(--container-tabs-indicator-margin) !important;
        border-radius: var(--tab-border-radius) !important; }
.tabbrowser-tab /* remove tab shadow */
    >.tab-stack
    >.tab-background { box-shadow: none !important;  }

@media (min-width: 1000px) { /* transition to oneline */
    #TabsToolbar { margin-left: var(--uc-urlbar-width) !important; } /* move tabs bar over */
    #nav-bar { margin: calc((var(--urlbar-min-height) * -1) - 8px) calc(100vw - var(--uc-urlbar-width)) 0 0 !important; } /* move entire nav bar  */
}